pipeline/Ingest devices from Graph via Intune.json
{
	"name": "Ingest devices from Graph via Intune",
	"properties": {
		"activities": [
			{
				"name": "IngestDevicesData_From_Intune",
				"description": "Generates a \"Devices\" report/table using Intune",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "{ \n    \"reportName\": \"Devices\", \n    \"select\": [ \n        \"DeviceId\",\n        \"DeviceName\", \n        \"DeviceType\",\n        \"managementAgent\", \n        \"OwnerType\", \n        \"ComplianceState\", \n        \"PrimaryUser\", \n        \"UserId\", \n        \"UPN\", \n        \"UserEmail\", \n        \"UserName\"\n    ]\n} ",
							"type": "Expression"
						},
						"additionalHeaders": {
							"Content-Type": "application/json"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DevicesData_Intune",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DevicesData_Intune_CSV",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetClientSecret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kv-oea-daihackathon.vault.azure.net/secrets/graphAppClientSecret?api-version=7.2",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"linkedServices": [
						{
							"referenceName": "GraphVault",
							"type": "LinkedServiceReference"
						}
					],
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetBearerToken",
				"description": "Use this Web activity to get bearer token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetClientSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/178ab4db-1ad5-49ad-86a7-06a29409af8a/oauth2/token",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@grant_type=client_credentials&client_id=9ba597aa-96e0-4297-80ac-9ce9fe9c7504&resource=https://graph.microsoft.com&client_secret=activity('GetClientSecret').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}